<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1><a href="/"><img src="/images/logo.png" alt="The HYIP Project | A Unique Mapping System - Open Source"/></a></h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li {% if page.url == "/" %}class="current"{% endif %}><a href="/">Home</a></li>
                            <li {% if page.url == "/concept" %}class="current"{% endif %}><a href="/concept">Concept</a>
                                <ul>
                                    <li><a href="/maps">Project Mapping</a>
                                        <ul>
                                            <li><a href="/maps/routine">Routine</a></li>
                                            <li><a href="/maps/spreading">Spreading</a></li>
                                            <li><a href="/maps/employment">Employment</a></li>
                                            <li><a href="/maps/merging">Merging</a></li>
                                            <li><a href="/maps/settlement">Settlement</a></li>
                                            <li><a href="/maps/comparison">Comparison</a></li>
                                            <li><a href="/maps/overall">Overall</a></li>
                                        </ul>
                                    </li>
                                     <li><a href="/sites">Site Building</a>
                                        <ul>
                                            <li><a href="/sites/introduction">Introduction</a></li>
                                            <li><a href="/sites/repository">Repository</a></li>
                                            <li><a href="/sites/portraying">Portraying</a></li>
                                            <li><a href="/sites/nature">Nature</a></li>
                                            <li><a href="/sites/route">Route</a></li>
                                            <li><a href="/sites/channel">Channel</a></li>
                                            <li><a href="/sites/feedback">Feedback</a></li>
                                            <li><a href="/sites/recording">Recording</a></li>
                                            <li><a href="/sites/conclusion">Conclusion</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/status">Monitoring System</a>
                                        <ul>
                                            <li><a href="/status/nature">Nature</a></li>
                                            <li><a href="/status/info">Info</a></li>
                                            <li><a href="/status/rating">Rating</a></li>
                                            <li><a href="/status/monitor">Monitor</a></li>
                                            <li><a href="/status/script">Script</a></li>
                                            <li><a href="/status/team">Team</a></li>
                                            <li><a href="/status/world">World</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/news">Business Networking</a>
                                        <ul>
                                            <li><a href="/news/reading">Reading</a></li>
                                            <li><a href="/news/writing">Writing</a></li>
                                            <li><a href="/news/scripting">Scripting</a></li>
                                            <li><a href="/news/encoding">Encoding</a></li>
                                            <li><a href="/news/key">Key</a></li>
                                            <li><a href="/news/formation">Formation</a></li>
                                            <li><a href="/news/mapping">Mapping</a></li>
                                        </ul>
                                    </li>
                               </ul>
                            </li>
                            <li {% if page.url == "/programs" %}class="current"{% endif %}><a href="/programs">Programs</a>
                                <ul>
                                    <li><a href="/info/project">Project Introduction</a></li>
                                    <li><a href="/rating/site">Site Rating</a></li>
                                    <li><a href="/monitor/script">Monitoring Script</a></li>
                                    <li><a href="/team/work">Team Work</a></li>
                                    <li><a href="/script/social">Social Coding</a></li>
                                    <li><a href="/world/net">Networking</a></li>
                                </ul>
                            </li>
                            <li {% if page.url == "/about" %}class="current"{% endif %}><a href="/about">About</a></li>
                            <li {% if page.url == "/contacts" %}class="current"{% endif %}><a href="/contacts">Contacts</a></li>
                        </ul>
                    </nav>
				</div>
            </div>
        </div>
    </div>
</header>
