<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1><a href="/"><img src="/images/logo.png" alt="The HYIP Project | A Unique Mapping System - Open Source"/></a></h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/concept">Concept</a>
                                <ul>
                                    <li><a href="/sites">Site Building</a></li>
                                    <li><a href="/news">News & Blogging</a></li>
                                    <li><a href="/status">Monitoring System</a></li>
                                    <li><a href="/maps">Project Mapping</a>
                                        <ul>
                                            <li><a href="/maps/routine">Routine</a></li>
                                            <li><a href="/maps/spreading">Spreading</a></li>
                                            <li><a href="/maps/employment">Employment</a></li>
                                            <li><a href="/maps/merging">Merging</a></li>
                                            <li><a href="/maps/settlement">Settlement</a></li>
                                            <li><a href="/maps/comparison">Comparison</a></li>
                                            <li><a href="/maps/overall">Overall</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="current"><a href="/programs">Programs</a>
                                <ul>
                                    <li><a href="/info/project">Project Introduction</a></li>
                                    <li><a href="/rating/site">Site Rating</a></li>
                                    <li><a href="/monitor/script">Monitoring Script</a></li>
                                    <li><a href="/team/work">Team Work</a></li>
                                    <li><a href="/script/social">Social Coding</a></li>
                                    <li><a href="/world/net">Networking</a></li>
                                </ul>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>