<h2 class="question">Topics ({{ site.posts | size }} total)</h2>
<ul class="topics">
{% capture tags %}
  {% for tag in site.categories %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
{% for tag in sortedtags %}
    <li class="topic-header"><b>{{ tag }}</b>
        <ul class='subnavlist'>
  {% for post in site.categories[tag] %}
            <li class='recipe'><a href="/{{ site.github.project_title }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
