<!--========================================================
                    SOCIAL MEDIA
=========================================================-->
<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/hyipproject/"></a></li>
                    <li><a class="fa fa-twitter" href="https://twitter.com/thehyipproject"></a></li>
                    <li><a class="fa fa-google-plus" href="https://plus.google.com/+HyipWorldProject"></a></li>
                    <li><a class="fa fa-stack-overflow" href="https://stackoverflow.com/users/4058484/hyip"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
